<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Blog Web Of Choice</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Kosugi|Oswald|Roboto+Condensed|Saira+Semi+Condensed&display=swap" rel="stylesheet">
</head>
<body>
    <nav  class ="navbar navbar-expand-lg navbar-light fixed-top" id = "maiNav" style="background-image: url(https://images.pexels.com/photos/221011/pexels-photo-221011.jpeg?auto=compress&cs=tinysrgb&h=650&w=940);">
        <div class="container">
            <a class="navbar-brand" href="index.html">Start Bootstrap</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navabarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
            <i class="fa fa-bars"></i>   

            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navabar-nav ml-auto">
                    <li class="nav-item">
                         <a class="nav-link" href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">About </a>
                   </li>
                   <li class="nav-item">
                    <a class="nav-link" href="posts.html">Posts</a>
               </li>
               <li class="nav-item">
                <a class="nav-link" href="contacts.html">Contacts</a>
           </li>
                </ul>
            </div>

        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-8">
                <div class="post-preview">
                    <a href="posts.html">
                        <h2 class="post-title">
                            To Love Is To Care
                        </h2>></h2>
                        <h3 class="post-subtitle">
                            Problems look might small from 150 miles up

                        </h3>
                    </a>
                    <p class="post-info">Posted by
                        <a href="post.html"></a>
                        on 25 june 2019
                    </p>
                    <div class="clearrfix">
                        <a class="btn btn-secondary float-right" href="#">Older Posts &rarr;</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    
</body>
</html>